html {
  overflow-x: hidden!important;
}

body {
  font-family: Nunito, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .05rem;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lora, Georgia, serif;
}

a:hover {
  color: #423224;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

textarea {
  overflow: auto;
  resize: none;
  font-size: 16px!important;
  font-weight: 500
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
  letter-spacing: .025rem
}

.lead {
  font-size: 1.2rem;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-3 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-4 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 0;
  padding-top: .25rem;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #495057;
  letter-spacing: inherit;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: none;
  border-radius: 0.15rem;
  transition: border-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: transparent;
  outline: none;
}

.form-control:focus~label.col-form-label {
  color: #61d87c
}

.form-control::placeholder {
  color: #d1d6dc;
  opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: initial;
  opacity: 1;
  color: #868e96;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
}

.col-form-label {
  position: relative;
  font-size: 14px;
  font-family: Lora, Georgia, serif;
  font-weight: 700;
  font-style: italic;
  letter-spacing: .01rem;
  margin-bottom: .35rem;
  transition: .15s ease-in-out
}

.col-form-label-lg {
  padding-top: calc(0.5rem - 1px * 2);
  padding-bottom: calc(0.5rem - 1px * 2);
  font-size: 1.25rem;
}

.col-form-label-sm {
  padding-top: calc(0.25rem - 1px * 2);
  padding-bottom: calc(0.25rem - 1px * 2);
  font-size: 0.875rem;
}

.col-form-legend {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}

.form-control-plaintext {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  line-height: 1.25;
  border: solid transparent;
  border-width: 1px 0;
}

.form-control-plaintext.form-control-sm,
.form-control-plaintext.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}

.form-control-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

select.form-control-sm:not([size]):not([multiple]) {
  height: calc(1.8125rem + 2px);
}

.form-control-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

select.form-control-lg:not([size]):not([multiple]) {
  height: calc(2.3125rem + 2px);
}

.form-group {
  display: block;
  margin-bottom: 1rem;
  padding: 1rem .75rem .25rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.15rem;
  background: white;
  transition: border-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
}

.form-group__focused {
  color: #7740d7;
  background-color: #fff;
  border-color: #9665e9;
  box-shadow: 0 3px 5px rgba(0,0,0,.1);
  outline: none;
}

.form-group__label {
  display: block;
  font-weight: bold
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row>.col,
.form-row>[class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.form-check {
  position: relative;
  display: block;
  margin-bottom: 0.5rem;
}

.form-check.disabled .form-check-label {
  color: #868e96;
}

.form-check-label {
  padding-left: 1.25rem;
  margin-bottom: 0;
}

.form-check-input {
  position: absolute;
  margin-top: 0.25rem;
  margin-left: -1.25rem;
}

.form-check-input:only-child {
  position: static;
}

.form-check-inline {
  display: inline-block;
}

.form-check-inline .form-check-label {
  vertical-align: middle;
}

.form-check-inline+.form-check-inline {
  margin-left: 0.75rem;
}

.invalid-feedback {
  display: none;
  margin-top: .25rem;
  font-size: .875rem;
  color: #dc3545;
}

.invalid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  width: 250px;
  padding: .5rem;
  margin-top: .1rem;
  font-size: .875rem;
  line-height: 1;
  color: #fff;
  background-color: rgba(220, 53, 69, 0.8);
  border-radius: .2rem;
}

.was-validated .form-control:valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.custom-select.is-valid {
  border-color: #28a745;
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus,
.was-validated .custom-select:valid:focus,
.custom-select.is-valid:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.was-validated .form-control:valid~.invalid-feedback,
.was-validated .form-control:valid~.invalid-tooltip,
.form-control.is-valid~.invalid-feedback,
.form-control.is-valid~.invalid-tooltip,
.was-validated .custom-select:valid~.invalid-feedback,
.was-validated .custom-select:valid~.invalid-tooltip,
.custom-select.is-valid~.invalid-feedback,
.custom-select.is-valid~.invalid-tooltip {
  display: block;
}

.was-validated .form-check-input:valid+.form-check-label,
.form-check-input.is-valid+.form-check-label {
  color: #28a745;
}

.was-validated .custom-control-input:valid~.custom-control-indicator,
.custom-control-input.is-valid~.custom-control-indicator {
  background-color: rgba(40, 167, 69, 0.25);
}

.was-validated .custom-control-input:valid~.custom-control-description,
.custom-control-input.is-valid~.custom-control-description {
  color: #28a745;
}

.was-validated .custom-file-input:valid~.custom-file-control,
.custom-file-input.is-valid~.custom-file-control {
  border-color: #28a745;
}

.was-validated .custom-file-input:valid~.custom-file-control::before,
.custom-file-input.is-valid~.custom-file-control::before {
  border-color: inherit;
}

.was-validated .custom-file-input:valid:focus,
.custom-file-input.is-valid:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.custom-select.is-invalid {
  border-color: #dc3545;
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.was-validated .form-control:invalid~.invalid-feedback,
.was-validated .form-control:invalid~.invalid-tooltip,
.form-control.is-invalid~.invalid-feedback,
.form-control.is-invalid~.invalid-tooltip,
.was-validated .custom-select:invalid~.invalid-feedback,
.was-validated .custom-select:invalid~.invalid-tooltip,
.custom-select.is-invalid~.invalid-feedback,
.custom-select.is-invalid~.invalid-tooltip {
  display: block;
}

.was-validated .form-check-input:invalid+.form-check-label,
.form-check-input.is-invalid+.form-check-label {
  color: #dc3545;
}

.was-validated .custom-control-input:invalid~.custom-control-indicator,
.custom-control-input.is-invalid~.custom-control-indicator {
  background-color: rgba(220, 53, 69, 0.25);
}

.was-validated .custom-control-input:invalid~.custom-control-description,
.custom-control-input.is-invalid~.custom-control-description {
  color: #dc3545;
}

.was-validated .custom-file-input:invalid~.custom-file-control,
.custom-file-input.is-invalid~.custom-file-control {
  border-color: #dc3545;
}

.was-validated .custom-file-input:invalid~.custom-file-control::before,
.custom-file-input.is-invalid~.custom-file-control::before {
  border-color: inherit;
}

.was-validated .custom-file-input:invalid:focus,
.custom-file-input.is-invalid:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input[type="file"]+label {
  max-width: 100%;
  font-size: 1.1em;
  font-weight: 500!important;
  letter-spacing: ;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
  white-space: nowrap !important;
  color: #4a585c;
  border: none;
  background-color: transparent;
  display: inline-block;
  padding: .5em 1em;
  transition: .3s;
  cursor: pointer;
}

input[type="file"]:focus+label,
input[type="file"]+label:hover {
  color: #3B4649;
}

input[type="file"]+label>svg {
  fill: #4a585c;
  transition: .3s;
}

input[type="file"]:focus+label>svg,
input[type="file"]+label:hover>svg {
  fill: #3B4649;
}

input[type="file"]:focus+label {
  outline: 1px dotted #4a585c;
  outline: -webkit-focus-ring-color auto 5px;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline .form-check {
  width: 100%;
}

.form-inline label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.form-inline .form-group {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 0;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form-inline .form-control-plaintext {
  display: inline-block;
}

.form-inline .input-group {
  width: auto;
}

.form-inline .form-control-label {
  margin-bottom: 0;
  vertical-align: middle;
}

.form-inline .form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.form-inline .form-check-label {
  padding-left: 0;
}

.form-inline .form-check-input {
  position: relative;
  margin-top: 0;
  margin-right: 0.25rem;
  margin-left: 0;
}

.form-inline .custom-control {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.form-inline .custom-control-indicator {
  position: static;
  display: inline-block;
  margin-right: 0.25rem;
  vertical-align: text-bottom;
}

.form-inline .has-feedback .form-control-feedback {
  top: 0;
}

::selection {
  background-color: #f0f0f0
}

.custom-control {
  position: relative;
  display: inline-flex;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  margin-right: 1rem;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-control-input:checked~.custom-control-indicator {
  color: #fff;
  background-color: #74573f;
  box-shadow: none;
}

.custom-control-input:focus~.custom-control-indicator {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #74573f;
}

.custom-control-input:active~.custom-control-indicator {
  color: #fff;
  background-color: #c9b19c;
  box-shadow: none;
}

.custom-control-input:disabled~.custom-control-indicator {
  background-color: #e9ecef;
}

.custom-control-input:disabled~.custom-control-description {
  color: #868e96;
}

.custom-control-indicator {
  position: absolute;
  top: 0.25rem;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  user-select: none;
  background-color: #ddd;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  box-shadow: inset 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
}

.custom-checkbox .custom-control-indicator {
  border-radius: 0.25rem;
}

.custom-checkbox .custom-control-input:checked~.custom-control-indicator {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-indicator {
  background-color: #74573f;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E");
  box-shadow: none;
}

.custom-radio>[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.custom-radio>[type="radio"]+span {
  display: block;
  line-height: 1.5;
}
.custom-radio::after {
  display: block;
  clear: both;
  content: "";
}

.custom-radio {
  display: block;
  cursor: pointer;
  line-height: 2.5;
  font-size: 1em;
  padding: 10px .75rem;
  margin-bottom: .75rem;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: .25rem;
  font-weight: 700;
}

.custom-radio>[type="radio"]:checked+span {
  color: #28a745;
}

.custom-radio>[type="radio"]+span:after {
  content: '';
  position: relative;
  display: inline-block;
  float: right;
  width: 1.3em;
  height: 1.3em;
  top: 1px;
  border-radius: 100%;
  border: 0.15em solid #fff;
  box-shadow: 0 0 0 0.15em rgba(0,0,0,.1);
  transition: 0.5s ease all;
  padding: 2px;
}

.custom-radio>[type="radio"]:checked+span:after {
  background: #28a745;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M9 16.172l10.594-10.594 1.406 1.406-12 12-5.578-5.578 1.406-1.406z' fill='%23fff'/%3E%3C/svg%3E");
  background-clip: border-box;
  box-shadow: 0 0 0 0.1em #fff,0 0 0 0.25em #28a745;
  border-color: #28a745;
}

.custom-controls-stacked {
  display: flex;
  flex-direction: column;
}

.custom-controls-stacked .custom-control {
  margin-bottom: 0.25rem;
}

.custom-controls-stacked .custom-control+.custom-control {
  margin-left: 0;
}

.custom-file {
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: 2.5rem;
  margin-bottom: 0;
}

.custom-file-input {
  min-width: 14rem;
  max-width: 100%;
  height: 2.5rem;
  margin: 0;
  opacity: 0;
}

.custom-file-input:focus~.custom-file-control {
  box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #74573f;
}

.custom-file-control {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  user-select: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
}

.custom-file-control:lang(en):empty::after {
  content: "Choose file...";
}

.custom-file-control::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  z-index: 6;
  display: block;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #e9ecef;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0 0.25rem 0.25rem 0;
}

.custom-file-control:lang(en)::before {
  content: "Browse";
}

.navbar{
  padding: 0 1rem;
  transition: box-shadow .3s;
  box-shadow: 0 2.5px 5px rgba(0,0,0,.05)
}

.no-shadow {
  box-shadow: 0 0 0 rgba(0,0,0,.1)
}

.navbar.border-bottom-0,
.shadowed-bottom {
  box-shadow: 0 2px 5px rgba(0,0,0,.05)
}

.navbar-brand {
  display: inline-block;
  /*padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;*/
  padding:  .75rem .75rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
}

.navicon {
  display: inline-block;
  width: 1.55em;
  height: 1.55em;
  stroke: currentColor;
  stroke-width: 0;
  fill: currentColor;
  vertical-align: middle
}

.small-navicon {
  width: 1em;
  height: 1em;
}

.profile-icon {
  font-size: 2rem;
}

.active .navicon {
  stroke: currentColor;
  fill: #fbb713;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 700;
  padding: 1.2rem 1rem;
  transition: .3s ease-in-out!important
}

.navbar-nav .dropdown-item {
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: .75rem 1.75rem;
  transition: all .3s ease;
}

.navbar-nav .dropdown-divider {
  border-color: #f7f7f7;
}

.navbar-nav .dropdown-item:focus,
.navbar-nav .dropdown-item:hover,
.navbar-nav .dropdown-item.active {
  /*color: #fff;*/
  text-decoration: none;
  /*background-color: #7740d7;*/
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #7740d7;
}

.navbar-light .navbar-text {
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 1.25rem 1rem;
}

.navbar-nav .dropdown-menu {
  display: block;
  opacity: 0;
  z-index: 1030!important;
  transform-origin: top;
  transform: scale(1, 0);
  width: 13rem;
  max-width: 13rem;
  padding-top: 0;
  border: none;
  border-radius: 0 0 .25rem .25rem;
  margin: 0;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, .05);
  transition: all .5s cubic-bezier(.68, -0.55, .27, 1.55);
}

.navbar-nav .show>.dropdown-menu {
  transform: scale(1, 1);
  opacity: 1;
}

.nav-pills.nav-justified {
  overflow-x: auto;
}

.nav-pills .nav-link {
  position: relative;
}

.nav-pills.nav-justified .nav-link {
  color: rgba(0,0,0,.5);
  font-weight: 500;
  transition: all .3s ease;
  border-radius: 0;
  padding: 1rem;
}

.nav-pills.nav-justified .nav-link:hover,
.nav-pills.nav-justified .nav-link.active,
.nav-pills .nav-link.active,
.show>.nav-pills .nav-link {
  color: #222;
  background-color: initial;
}

.nav-pills.nav-justified .nav-link:hover {
  background-color: #f7f7f7;
}

.nav-pills.nav-justified .nav-link:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform .3s linear;
  background-color: #fbb713
}

.nav-pills.nav-justified .nav-link.active:after {
  transform: scaleY(1);
}

@media screen and (max-width: 575px){
  .nav-pills.nav-justified:before,
  .nav-pills.nav-justified:after {
    content: '';
    position: absolute;
    z-index: 1000;
    width: 2rem;
    height: 100%;
  }

  .nav-pills.nav-justified:before {
    left: initial;
    background: #fff;
    /*background: linear-gradient(to right, #fff 0%, rgba(255,255,255,.5) 100%);*/
    background: linear-gradient(to right, rgb(255, 255, 255) 0%,rgba(255, 255, 255, 0.978) 9.5%,rgba(255, 255, 255, 0.925) 17.7%,rgba(255, 255, 255, 0.857) 24.7%,rgba(255, 255, 255, 0.781) 31%,rgba(255, 255, 255, 0.701) 36.8%,rgba(255, 255, 255, 0.62) 42.3%,rgba(255, 255, 255, 0.538) 47.6%,rgba(255, 255, 255, 0.455) 52.9%,rgba(255, 255, 255, 0.373) 58.2%,rgba(255, 255, 255, 0.291) 63.7%,rgba(255, 255, 255, 0.212) 69.5%,rgba(255, 255, 255, 0.138) 75.8%,rgba(255, 255, 255, 0.07) 82.9%,rgba(255, 255, 255, 0.019) 91.2%,rgba(255, 255, 255, 0) 100%);
  }

  .nav-pills.nav-justified:after {
    right: 0;
    background: #fff;
    /*background: linear-gradient(to right,  rgba(255,255,255,.5) 0%, #fff 100%);*/
    background: linear-gradient(to left, rgb(255, 255, 255) 0%,rgba(255, 255, 255, 0.978) 9.5%,rgba(255, 255, 255, 0.925) 17.7%,rgba(255, 255, 255, 0.857) 24.7%,rgba(255, 255, 255, 0.781) 31%,rgba(255, 255, 255, 0.701) 36.8%,rgba(255, 255, 255, 0.62) 42.3%,rgba(255, 255, 255, 0.538) 47.6%,rgba(255, 255, 255, 0.455) 52.9%,rgba(255, 255, 255, 0.373) 58.2%,rgba(255, 255, 255, 0.291) 63.7%,rgba(255, 255, 255, 0.212) 69.5%,rgba(255, 255, 255, 0.138) 75.8%,rgba(255, 255, 255, 0.07) 82.9%,rgba(255, 255, 255, 0.019) 91.2%,rgba(255, 255, 255, 0) 100%);
  }

  .nav-pills.nav-justified .nav-link:first-child {
    padding-left: 1rem;
  }

  .nav-pills.nav-justified .nav-link:last-child {
    padding-right: 2rem;
  }

  .nav-pills.nav-justified .nav-link:first-child:after {
    width: calc(100% - 1rem);
    left: 1rem
  }

  .nav-pills.nav-justified .nav-link:last-child:after {
    width: calc(100% - 1.5rem);
    right: 1.5rem
  }
}

.nav-tabs {
  border: 0;
}

.nav-tabs.flex-column .nav-link {
  position: relative;
  font-weight: 500;
  padding: 1rem;
  border: 0;
  border-radius: 0;
  transition: .3s ease-in-out;
}

.nav-tabs.flex-column .nav-link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 4px;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .3s linear;
  background-color: #fbb713
}

.nav-tabs.flex-column .nav-link:hover:before,
.nav-tabs.flex-column .nav-link.active:before {
  transform: scaleY(1);
}

.unset {
  flex: unset;
}

a.card {
  border: 0;
  transition: all .3s linear;
  box-shadow: 0 0 3px rgba(0,0,0,.1)
}

a.card img {
  width: 100px;
}

a.card--add {
  color: #bbb;
  background-color: #f8f9fa;
  border: 1px dashed #bbb;
  border-radius: 0!important;
  transition: all .3s ease;
  box-shadow: none!important
}

a.card--add:hover {
  color: #999;
  border-color: #999;
}

a.card:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,.12)
}

.card {
  transition: all .3s ease-in-out
}

.card-title {
  font-weight: 500;
}

.card-subtitle {
  font-size: 12px;
}

.card-deck .card:hover {
  background-color: #f7f7f7
}

.card-deck .card {
  border-radius: 0;
}

.card-deck .card:last-child {
  border-top: 0
}

.card-deck .card:first-child {
  border-top:  1px solid rgba(0, 0, 0, 0.125);
}

.card-deck .card:not(:first-child):not(:last-child) {
  border-top: 0;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-primary {
  color: #fff;
  background-color: #74573f;
}

.badge-primary[href]:focus,
.badge-primary[href]:hover {
  color: #fff;
  text-decoration: none;
  background-color: #533e2d;
}

.badge-secondary {
  color: #fff;
  background-color: #868e96;
}

.badge-secondary[href]:focus,
.badge-secondary[href]:hover {
  color: #fff;
  text-decoration: none;
  background-color: #6c757d;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge-success[href]:focus,
.badge-success[href]:hover {
  color: #fff;
  text-decoration: none;
  background-color: #1e7e34;
}

.badge-info {
  color: #fff;
  background-color: #20c997;
}

.badge-info[href]:focus,
.badge-info[href]:hover {
  color: #fff;
  text-decoration: none;
  background-color: #199d76;
}

.badge-warning {
  color: #111;
  background-color: #fbb713;
}

.badge-warning[href]:focus,
.badge-warning[href]:hover {
  color: #111;
  text-decoration: none;
  background-color: #d79904;
}

.badge-danger {
  color: #fff;
  background-color: #FF3A2F;
}

.badge-danger[href]:focus,
.badge-danger[href]:hover {
  color: #fff;
  text-decoration: none;
  background-color: #bd2130;
}

.badge-light {
  color: #111;
  background-color: #f8f9fa;
}

.badge-light[href]:focus,
.badge-light[href]:hover {
  color: #111;
  text-decoration: none;
  background-color: #dae0e5;
}

.badge-dark {
  color: #fff;
  background-color: #343a40;
}

.badge-dark[href]:focus,
.badge-dark[href]:hover {
  color: #fff;
  text-decoration: none;
  background-color: #1d2124;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.fixed-alert {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1030;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: bold;
}

.alert-dismissible .close {
  position: absolute;
  right: .5rem;
  top: .5rem;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-primary {
  color: #3c2d21;
  background-color: #e3ddd9;
  border-color: #d8d0c9;
}

.alert-primary hr {
  border-top-color: #cdc3ba;
}

.alert-primary .alert-link {
  color: #1b140f;
}

.alert-secondary {
  color: #464a4e;
  background-color: #e7e8ea;
  border-color: #dddfe2;
}

.alert-secondary hr {
  border-top-color: #cfd2d6;
}

.alert-secondary .alert-link {
  color: #2e3133;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-success hr {
  border-top-color: #b1dfbb;
}

.alert-success .alert-link {
  color: #0b2e13;
}

.alert-info {
  color: #11694f;
  background-color: #d2f4ea;
  border-color: #c1f0e2;
}

.alert-info hr {
  border-top-color: #acebd8;
}

.alert-info .alert-link {
  color: #0a3d2e;
}

.alert-warning {
  color: #835f0a;
  background-color: #fef1d0;
  border-color: #feebbd;
}

.alert-warning hr {
  border-top-color: #fee3a4;
}

.alert-warning .alert-link {
  color: #543d06;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-danger hr {
  border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
  color: #491217;
}

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.alert-light hr {
  border-top-color: #ececf6;
}

.alert-light .alert-link {
  color: #686868;
}

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

.alert-dark hr {
  border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
  color: #040505;
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

.progress {
  display: flex;
  overflow: hidden;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.progress-bar {
  height: 1rem;
  line-height: 1rem;
  color: #fff;
  background-color: #74573f;
  transition: width 0.6s ease;
}

.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.progress-bar-animated {
  animation: progress-bar-stripes 1s linear infinite;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1;
}

.table {
  font-family: Lora, Georgia, serif;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item-action {
  width: 100%;
  color: #868e96;
  transition: .15s;
  text-align: inherit;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
  color: #495057;
  text-decoration: none;
  background-color: #f8f9fa;
}

.list-group-item-action:active {
  color: #212529;
  background-color: #e9ecef;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.list-group-item strong {
  font-size: 14px
}

.list-group-item:focus,
.list-group-item:hover {
  text-decoration: none;
}

.list-group-item.disabled,
.list-group-item:disabled {
  color: #868e96;
  background-color: #fff;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #74573f;
  border-color: #74573f;
}

.list-group-flush .list-group-item {
  padding: 1.25rem;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.list-group-flush.border-0 .list-group-item {
  border: 0!important;
}

.list-group-striped .list-group-item:nth-child(even) {
  background-color: #f7f7f7;
}

.list-group-flush:first-child .list-group-item:first-child {
  border-bottom: 0;
}

.list-group-flush:last-child .list-group-item:not(:last-child):not(:first-child) {
  border-bottom: 0;
}

.list-group-item-primary {
  color: #3c2d21;
  background-color: #d8d0c9;
}

a.list-group-item-primary,
button.list-group-item-primary {
  color: #3c2d21;
}

a.list-group-item-primary:focus,
a.list-group-item-primary:hover,
button.list-group-item-primary:focus,
button.list-group-item-primary:hover {
  color: #3c2d21;
  background-color: #cdc3ba;
}

a.list-group-item-primary.active,
button.list-group-item-primary.active {
  color: #fff;
  background-color: #3c2d21;
  border-color: #3c2d21;
}

.list-group-item-secondary {
  color: #464a4e;
  background-color: #dddfe2;
}

a.list-group-item-secondary,
button.list-group-item-secondary {
  color: #464a4e;
}

a.list-group-item-secondary:focus,
a.list-group-item-secondary:hover,
button.list-group-item-secondary:focus,
button.list-group-item-secondary:hover {
  color: #464a4e;
  background-color: #cfd2d6;
}

a.list-group-item-secondary.active,
button.list-group-item-secondary.active {
  color: #fff;
  background-color: #464a4e;
  border-color: #464a4e;
}

.list-group-item-success {
  color: #155724;
  background-color: #c3e6cb;
}

a.list-group-item-success,
button.list-group-item-success {
  color: #155724;
}

a.list-group-item-success:focus,
a.list-group-item-success:hover,
button.list-group-item-success:focus,
button.list-group-item-success:hover {
  color: #155724;
  background-color: #b1dfbb;
}

a.list-group-item-success.active,
button.list-group-item-success.active {
  color: #fff;
  background-color: #155724;
  border-color: #155724;
}

.list-group-item-info {
  color: #11694f;
  background-color: #c1f0e2;
}

a.list-group-item-info,
button.list-group-item-info {
  color: #11694f;
}

a.list-group-item-info:focus,
a.list-group-item-info:hover,
button.list-group-item-info:focus,
button.list-group-item-info:hover {
  color: #11694f;
  background-color: #acebd8;
}

a.list-group-item-info.active,
button.list-group-item-info.active {
  color: #fff;
  background-color: #11694f;
  border-color: #11694f;
}

.list-group-item-warning {
  color: #835f0a;
  background-color: #feebbd;
}

a.list-group-item-warning,
button.list-group-item-warning {
  color: #835f0a;
}

a.list-group-item-warning:focus,
a.list-group-item-warning:hover,
button.list-group-item-warning:focus,
button.list-group-item-warning:hover {
  color: #835f0a;
  background-color: #fee3a4;
}

a.list-group-item-warning.active,
button.list-group-item-warning.active {
  color: #fff;
  background-color: #835f0a;
  border-color: #835f0a;
}

.list-group-item-danger {
  color: #721c24;
  background-color: #f5c6cb;
}

a.list-group-item-danger,
button.list-group-item-danger {
  color: #721c24;
}

a.list-group-item-danger:focus,
a.list-group-item-danger:hover,
button.list-group-item-danger:focus,
button.list-group-item-danger:hover {
  color: #721c24;
  background-color: #f1b0b7;
}

a.list-group-item-danger.active,
button.list-group-item-danger.active {
  color: #fff;
  background-color: #721c24;
  border-color: #721c24;
}

.list-group-item-light {
  color: #818182;
  background-color: #f7f7f7;
}

a.list-group-item-light,
button.list-group-item-light {
  color: #818182;
}

a.list-group-item-light:focus,
a.list-group-item-light:hover,
button.list-group-item-light:focus,
button.list-group-item-light:hover {
  color: #818182;
  background-color: #ececf6;
}

a.list-group-item-light.active,
button.list-group-item-light.active {
  color: #fff;
  background-color: #818182;
  border-color: #818182;
}

.list-group-item-dark {
  color: #1b1e21;
  background-color: #c6c8ca;
}

a.list-group-item-dark,
button.list-group-item-dark {
  color: #1b1e21;
}

a.list-group-item-dark:focus,
a.list-group-item-dark:hover,
button.list-group-item-dark:focus,
button.list-group-item-dark:hover {
  color: #1b1e21;
  background-color: #b9bbbe;
}

a.list-group-item-dark.active,
button.list-group-item-dark.active {
  color: #fff;
  background-color: #1b1e21;
  border-color: #1b1e21;
}

.img-fluid[src$="svg"] {
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  opacity: .75;
}

button.close {
  padding: 0;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -25%);
}

.modal.show .modal-dialog {
  transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #e9ecef;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
  border-top: 1px solid #e9ecef;
}

.modal-footer> :not(:first-child) {
  margin-left: .25rem;
}

.modal-footer> :not(:last-child) {
  margin-right: .25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.modal-dialog {
  max-width: 500px;
  margin: 30px auto;
}

.modal-content {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-sm {
  max-width: 300px;
}

.modal-lg {
  max-width: 800px;
}

.border {
  border: 1px solid rgba(0,0,0,.1) !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom {
  border-bottom: 1px solid rgba(0,0,0,.1) !important;
}

@media screen and (min-width: 768px) {
  .border-right {
    border-right: 1px solid rgba(0,0,0,.1) !important;
  }
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-primary {
  border-color: #74573f !important;
}

.border-secondary {
  border-color: #868e96 !important;
}

.border-success {
  border-color: #28a745 !important;
}

.border-info {
  border-color: #20c997 !important;
}

.border-warning {
  border-color: #fbb713 !important;
}

.border-danger {
  border-color: #FF3A2F !important;
}

.border-light {
  border-color: #ccc !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.rounded-0 {
  border-radius: 0!important;
}

.border-white {
  border-color: #fff !important;
}

.text-white {
  color: #fff !important;
}

/*a[class*="text-"]:not([class*="card"]) {
  transition: .15s ease-in-out
}
*/

.text-muted {
  color: #eee !important;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.blockquote {
  font-family: Lora, Georgia, serif;
  font-size: 1rem
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}