<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="#7740d7">
	<title>Add New Course &bull; sumaryz</title>
	<!-- CSS -->
	<link rel="stylesheet" href="../../../../assets/css/index.css">
	<link rel="stylesheet" href="../../styles/index.css">
	<link rel="stylesheet" href="../../scripts/vendor/quill-editor/quill.snow.css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Nunito:300,400,700,900" rel="stylesheet"> 
    <link rel="shortcut icon" href="../../../../favicon.png">
    <style>
    	#editor {
    		min-height: 20vh;
    	}
    </style>
</head>

<body class="bg-light">
	<!-- 
		(^_^)
	-->
	<nav class="navbar navbar-expand navbar-light sticky-top bg-white pl-0 pr-sm-5 text-nowrap">
		<span class="navbar-brand bg-primary">
			<img src="../../../../assets/icons/logo.svg" class="" height="40">
		</span>
		<div class="navbar-nav ml-auto ml-sm-0">
			<a class="nav-item nav-link d-none d-sm-block">Summarise</a>		
		</div>
		<div class="navbar-nav ml-0 ml-sm-auto">
			<div class="nav-item dropdown">
				<a href="" class="nav-link" id="dropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<svg class="navicon">
						<use xlink:href="../../../../assets/icons/symbol-defs.svg#more" />
					</svg>
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLink">
					<a class="dropdown-item d-sm-none" href="../../../dashboard">Dashboard</a>
				</div>
			</div>
			<div class="nav-item dropdown">
				<a href="" class="nav-link dropdown-toggle pr-0" id="dropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<svg class="navicon mr-2" style="">
						<use xlink:href="../../../../assets/icons/symbol-defs.svg#face"/>
					</svg>
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLink">
					<a class="dropdown-item" href="../../../">Logout
					</a>
				</div>
			</div>
		</div>
	</nav>

	<main class="container px-lg-5 py-5">
		<form id="questions_upload" class="row justify-content-center px-sm-5 pb-5">
            <div class="col-12 col-sm-4">
                <label class="form-group">
                    <span class="form-group__label">Course Code</span>
                    <input type="text" name="c_code" id="c_code" class="form-control" maxlength="7" placeholder="e.g GENS103" required>
                </label>
            </div>
            <div class="col-12 col-sm-6">
                <label class="form-group">
                    <span class="form-group__label">Topic</span>
                    <input type="text" name="topic" class="form-control" required>
                </label>
            </div>
            <div class="col-12 col-sm-10">
                <div class="form-group">
                    <label class="form-group__label">Introduction</label>
                    <textarea rows="3" name="intro" class="form-control" maxlength="200" placeholder="Maximum of 200 characters"></textarea>
                </div>
            </div>
            <div class="col-12 col-sm-10">
            	<div id="scrollingContainer" class="bg-white">
					<div id="editor" class="border-light bg-white"></div>
				</div>
				<input name="summary" id="summary" type="hidden">
            </div>
            <div class="col-12 col-sm-10 py-3 text-center">
                <article class="alert alert-info status" style="display:none"></article>
                <button type="button" id="pBtn" class="btn btn-danger btn-lg px-4">Publish</button>
            </div>
        </form>
    </main>

    <script src="../../../../assets/js/bootstrap.js"></script>
    <script src="../../scripts/vendor/quill-editor/quill.min.js"></script>
    <script type="text/javascript">
    	var options = {
		  modules: {
		    toolbar: [
		      ['bold','italic','underline'],
		      ['blockquote','image'],
		      [{list: 'ordered'}, {list: 'bullet'}],
		      [{'script': 'sub'}, {'script': 'super'}],
		      ['clean']
		    ],
		  },
		  placeholder: 'Draft a summary...',
		  scrollingContainer: '#scrolling-container',
		  theme: 'snow'
		};
		var editor = new Quill('#editor', options);
    	(function () {
            var els = document.querySelectorAll('.form-control');
            function onInput(ev) {
                ev.target.parentNode.classList.toggle('form-group__focused')
            };
            [].slice.call(els).forEach(function (inputEl) {
                inputEl.addEventListener('focus', onInput);
                inputEl.addEventListener('blur', onInput);
            });
        })();
    </script>
	<script src="../../../../js/ajaxModule.js"></script>
	<script type="text/javascript">
		window.addEventListener("load", function(){
			_("#c_code").value = localStorage.getItem("c_code");
		});
		//Uploading users with excel csv
		_('#pBtn').addEventListener('click', function() {
			_('#summary').value = editor.root.innerHTML;
			var status = _(".status");
			var postBtn = _("#pBtn");
			var hr = ajaxObj('POST', '../../../../requests/summary.php');
			var formdata = new FormData(_('#questions_upload'));
			hr.onreadystatechange = function() {
				if (ajaxReturn(hr) == true) {
					//alert(hr.responseText);
					var d = JSON.parse(hr.responseText);
					status.style.display = 'block';
					postBtn.removeAttribute("disabled", "false");
					postBtn.innerHTML = 'Publish';
					if (d.f) {
						status.innerHTML = d.f;
					} else if (d.l) {
						window.location = '../../../';
					} else {
						_("#questions_upload").reset();
						status.innerHTML = d.s+'<br> <a class="btn btn-small btn-success" href="../../../dashboard">Go back to course(s) page</a>';
					}
				}
			}
			hr.send(formdata);
			postBtn.innerHTML = 'Adding summary... <span class="spinning"></span>';
			postBtn.setAttribute("disabled", "true");
		});
	</script>
</body>
</html>